<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>

<body>
    <div class="nav-bar">
        <a class="show-teams" href="teams.html">TEAMS</a>
        <a class="show-games" href="games.html">GAMES</a>
        <a class="show-players" href="players.html">PLAYERS</a>
    </div>
    <div class="main-body" id="main">
    
    </div>
    <script>
        getTeams();

        function getTeams() {
            const requestTeams = new XMLHttpRequest();
            requestTeams.open('GET', 'https://www.balldontlie.io/api/v1/teams');
            requestTeams.send();
            requestTeams.addEventListener('load', function () {
                const teamData = JSON.parse(this.responseText);
                const teamDataInside = teamData.data;

                for (i = 0; i < teamDataInside.length; i++) {
                      
                    console.log(teamDataInside[i]);

                    let html = `   <div class="card">
                            <div class="team-name-header">
                                <div class="team-full-name">${teamDataInside[i].full_name}</div>
                                <div class="team-abbreviation">${teamDataInside[i].abbreviation}</div>
                            </div>
                            <div class="team-info">
                                <ul>
                                    <li class="team-id">Team ID: ${teamDataInside[i].id}</li>
                                    <li class="name">Team Name: ${teamDataInside[i].name}</li>
                                    <li class="city">City: ${teamDataInside[i].city}</li>
                                    <li class="division">Division: ${teamDataInside[i].division}</li>
                                    <li class="conference">Conference: ${teamDataInside[i].conference}</li>
                                </ul>
                            </div>
                        </div>`;
                    document.querySelector('#main').insertAdjacentHTML("beforeEnd",html);
                    html="";
                }


            });

        }


    </script>
</body>

</html>